*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 1200px;
    margin: auto;
}

.max-container,
.main-max-container,
.main-max-container-two{
    width:100%;
    margin: auto;
    background-color:  #F4F9FD;

}

.nav-container,
.main-container,
.main-container-two{
    margin: auto;
    width: 80%;
}

.nav-container ul{
    list-style: none;
}

a{
    color: #32495B;
    text-decoration: none;
}

.nav-left,.nav-right{
    display: inline-block;
    width: 50%;
}

.up-nav .nav-left,.clearfix-left >*{
    float: left;
    
}

.up-nav .nav-right,.clearfix-right >*{
    float: right;
    z-index: 1;
    
}


.up-nav::after,
.nav-left::after,
.nav-right::after{
    content: "";
    display: table;
    clear: both;
} 

.up-nav{
    background-color:  #F4F9FD;
}

.nav-left .clearfix-left >* ,.nav-right .clearfix-right >*{
    background-color: #F4F9FD;
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
   
} 

.nav-left .clearfix-left .symbol-1{
    padding: 13px 10px 0px 0;
}

.nav-left .clearfix-left .symbol-2{
    padding-left:0px;
}

.get-hub.button,
.text-button,
.button-row2{
    padding: 6px;
    margin: 6px;
    border-radius: 5px;
    background-color: #FE775A;
}

.log-in.button{
    padding: 6px;
    margin: 6px;
    border-radius: 5px;
   border: 1px solid #FE775A;
}

.search-sym.symbol-1{
    padding: 14px;
}

/* end up-nav */

/* start down-nav */

.clearfix-left .img-nav-bar{
    padding: 7.44px;
    padding-left: 0%;
    background-color: #FFFFFF;

}

.nav-left.left-2{
    width: 15%;
    
}

.nav-right.right-2{
    width: 85%;
}

.nav-right .clearfix-left-2{
    margin-top: 8px;
}

.clearfix-right.clearfix-left-2 li{
    padding-top: 4px;
    padding-right: 20px;
    margin-bottom: 4px;
    margin-right: 20px;
    background-color: #FFFFFF;
}

.max-container.max-container-2.border {
    margin-top: -1px;
}

.up-nav.nav-2{
    background-color: #FFFFFF;
}

.nav-container.down-nav-bar{
    background-color: #FFFFFF;
}

/* end down nav */


/* start section main */


.main-max-container{
    height: 400px;
    background-image: url(img/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
}

.main-max-container-2{
    height: 50px;
    background-color: #AFEBE4;
}



.main-parth-one .title-over-img{
  color: #33475B;
  width: 37%;
  position: relative;
  
}

.title-over-img>*{
    margin-top: 25px;
}

.title-over-img>h3{
    font-size: 35px;
    margin-top: 25px;
}

.title-over-img>p{
    font-size: 11px;
}

.title-over-img .text-button{
    margin-left: 0;
}

/* end section main */

/* start section main two */


.main-container-two{
    height: 900px;
    margin: auto;
}



.img-row-1{
    width: 100%;
    position: relative; 
} 

.img-wrapper{
    
    width: 180px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 35px;
}



.img-integrations{
    width: 100%;
    height: 100%;
   
}

.text-img-integrations{
    background-color: #F4F9FD;
    text-align: center;
    font-size: 18px;
    color: #33475B;
    font-family: 'Source Sans Pro', sans-serif;
   
}

.text-img-integrations>p{
    font-size: 14px;
}

.text-img-integrations>*{
    padding: 5px;
}

.part-two-col.row-2{
    background-color: white;
}

.now-3





/* utility tag */

.border{
    border: 1px solid black;
}

